@using EPiServer.ServiceLocation
@using EPiServer.Web

@model IPageViewModel<SitePageData>

@{
    var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
    
    var startPage = contentLoader.Get<StartPage>(ContentReference.StartPage);
    var favoritesPage = contentLoader.Get<FavoritesPage>(startPage.FavoritesPage);
    var favoritesPageUrl = favoritesPage != null ? UrlResolver.Current.GetUrl(favoritesPage) : "#";
}


<header class="border-gray-400 border-b-2">
    <div class="flex px-5 py-2 max-w-4xl justify-between items-center mx-auto">
        <div>
            <a class="navbar-brand logo" href="@Model.Layout.LogotypeLinkUrl" title="@Model.Layout.Logotype.Title">
                <img src="@Model.Layout.Logotype.Url" alt="Alternate Text" height="80" width="80" />
            </a>
        </div>
        <div class="">
            <a href="@favoritesPageUrl" class="text-xl font-semibold">Favoritter</a>
        </div>
    </div>
</header>
