@using EPiServer.Web

@model IPageViewModel<SitePageData>


<header>
    <div class="flex justify-between px-5 py-2">
        <div>
            <a class="navbar-brand logo" href="@Model.Layout.LogotypeLinkUrl" title="@Model.Layout.Logotype.Title">
                <img src="@Model.Layout.Logotype.Url" alt="Alternate Text" height="80" width="80" />
            </a>
        </div>
        <div>
            
        </div>
    </div>
</header>
