@model PageViewModel<NaturePage>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<div class="flex items-center justify-center text-center">
    <h1>
        @Model.CurrentPage.Title
    </h1>
</div>